# -- Quarto configuration files
/.quarto/
/_extensions/

# -- Self-contained repo
projects/*
!projects/projects.yml
!projects/projects.ejs

teaching/*
!teaching/teaching.yml
!teaching/teaching.ejs

notes/*

