.quarto/
/.quarto/
.vscode/

# Digital Garden Directories = each one have their own Git
digital-garden/agentic-20-questions-game/
digital-garden/bootstrap-theme/
digital-garden/fundamental-ai-milestones/
digital-garden/github-readme/
digital-garden/kaggle-r-comp-starter/
digital-garden/lifelong-learner/
digital-garden/markdown-jungle/
digital-garden/voronoi-stippling/

# Teaching Directories = each one have their own Git
teaching/intro-credit-risk-analysis/
teaching/intro-business-statistics/

