[submodule "teaching/ece-proba"]
	path = teaching/ece-proba
	url = git@github.com:guillaumegilles/ece-course-probability.git
[submodule "posts/dataviz-bdf"]
	path = posts/dataviz-bdf
	url = git@github.com:guillaumegilles/dataviz-bdf
