##----------------------------------- Wiki ----------------------------------##
[submodule "guillaumegilles.github.io.wiki"]
	path = guillaumegilles.github.io.wiki
	url = git@github.com:guillaumegilles/guillaumegilles.github.io.wiki.git
