.quarto/

# Digital Garden Directories = each one have their own Git
digital-garden/bootstrap-theme/
digital-garden/cryptohack/
digital-garden/dotfiles/
digital-garden/fun-math/
digital-garden/fundamental-ai-milestones/
digital-garden/github-readme/
digital-garden/leetcode/
digital-garden/lifelong-learner/
digital-garden/markdown-jungle/
digital-garden/problematic-internet-use/
digital-garden/voronoi-stippling/

/.quarto/
