# --------------------------------------------------------------------------- #
#                     Quarto Render Information                               #
# --------------------------------------------------------------------------- #
project:
  type: website
  output-dir: docs


# --------------------------------------------------------------------------- #
#                         Website Configuration                               #
# --------------------------------------------------------------------------- #
website:
  title: skekCoon

  # -------------------------- NAVIGATION ----------------------------------- #
  # offer the user the ability to navigate to the next page (or previous page)
  # at the bottom of the page that they’ve just finished reading
  page-navigation: true
 
  navbar:
    right:
      - href: about.qmd
      - href: index.qmd
      - text: "Teaching"
        menu:
          - text: "Fondamentaux mathématiques et d'analyse de données"
            href: teaching/math-fundamentals/index.qmd
          - href: teaching/financial-analysis/00-syllabus.qmd

  sidebar:
    - title: "Fondamentaux mathématiques et d'analyse de données"
      contents:
        - teaching/math-fundamentals/index.qmd
        - teaching/math-fundamentals/module-1.qmd
        - teaching/math-fundamentals/module-2.qmd
        - teaching/math-fundamentals/module-3.qmd
        - teaching/math-fundamentals/module-4.qmd
        - teaching/math-fundamentals/module-5.qmd
        - teaching/math-fundamentals/module-6.qmd
        - teaching/math-fundamentals/module-7.qmd
    - title: "Analyse Financière et Stratégique de l’Entreprise"
      contents:
        - teaching/financial-analysis/00-syllabus.qmd
        - teaching/financial-analysis/01-temple-bilans.qmd
        - teaching/financial-analysis/02-archives-consolidees.qmd
        - teaching/financial-analysis/03-detective-diagnostic.qmd
        - section: "ANNEXES"
          contents: 
            - teaching/financial-analysis/banque-france.qmd
            - teaching/financial-analysis/banque-france-cotaion.qmd
       

  # ---------------------------- SEARCH ------------------------------ #
  # Search is enabled by default for websites (you can disable it with 
  # search: false).
  search: false 

  # -------------------------- SOCIAL METADA -------------------------------- #
  # The favicon for your site provides an icon for browser tabs and other sites
  # that link to yours
  favicon: favicon.png

  # Enhanced appearance when someone links to your site on Twitter
  twitter-card: true

  # Open Graph protocol is a specification that enables richer sharing of links
  # to articles on the web
  open-graph: true


# --------------------------------------------------------------------------- #
#                             HTML Configuration                              #
# --------------------------------------------------------------------------- #
format:
  html:
    toc: true
    toc-depth: 3
    theme:
      light: style.scss

