
```{=html}

<% for (const item of items) { %>

<h2><%- item.degree %></h2>

<p><%- item.description %></p>

<div class="row">

<% for (const course of item.courses) { %>
  <div class="card border-2 rounded-3 g-col-12 g-col-sm-6 g-col-md-4 mb-2"
    <div class="card-header py-1 px-2 border-bottom border-1 bg-light">
      <small class="card-text inline-block">
        <a href="<%- course.href %>" class="listing-title"><%= course.title %></a>
<% } %>

<% } %>

```

